body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#checkoutButton {
    position: fixed;
    top: 5;
    left: 5;
    z-index: 1;
    color: #FFF;
}